/*! 分类 */
.kindlist{
    height: 493px;
    width: 100%;
    /* border: 1px solid red; */
}
.kindlist .wrap{
    height: 100%;
}
.wrap .concert{
    height: 95px;
    font-size: 24px;
    line-height: 95px;
    margin-top: 10px;
}
.concert span{
    float: right;
    margin-right: 28px;
    color: #9B9B9B;
    font-size: 14px;
}
.kindlist .left{
    width: 25%;
    height: 387px;
    /* border: 1px solid black; */
    float: left;
    position: relative;
}
.left>a>img{
    width: 100%;
    height: 387px
}
.left>.adver{
    width: 270px;
    height: 118px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px 17px;
    font-size: 16px;
}
.adver>p>a{
    color: #fff;
}
.adver .details{
    font-size: 20px;
    margin-top: 12px;
}
.adver .details span{
    font-size: 14px;
}
.kindlist .right{
    width: 74%;
    height: 375px;
    /* border: 1px solid red; */
    float: left;
    margin-left: 8px;
}
.right>div{
    width: 294px;
    height: 163px;
    /* border: 1px solid lightsalmon; */
    float: left;
}
.div_1{
    margin-bottom: 61px;
}
.right>div>a>img{
    width: 133px;
    height: 163px;
    float: left;
}
.right_div{
    width: 138px;
    height: 162px;
    position: relative;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
}
.right_div>p:first-child{
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
    overflow: hidden;
}
.right_div>p:nth-child(2){
    width: 100%;
    font-size: 12px;
    margin-top: 14px;
    color: #9B9B9B;
    overflow: hidden;
    word-break: break-all;
}
.right_div>p:nth-child(3){
    width: 100%;
    font-size: 12px;
    margin-top: 14px;
    color: #9B9B9B;
    overflow: hidden;
    word-break: break-all;
}
.price{
    width: 138px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    font-size: 16px;
    color: #FF1268;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
