@charset "utf-8";
/*! 轮播图 */
.slideshow{
    height: 402px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}
.slideshow img{
    width: 1200px;
    height: 402px;
}