.mian{
    width: 100%;
    height: 580px;
    background-color: #f8f8f8;
    border: 1px solid red;
    .wrap{
        height: 500px;
        background-color: #fff;
        margin-top: 40px;
        padding: 40px 240px 0;
    }
    .form{
        width: 720px;
        min-height: 100px;
        margin: 0 auto;
        text-align: center;
        p{
            width: 720px;
            height: 50px;
            font-size: 14px;
            margin-bottom: 20px;
            span{
                color: red;
            }
            input{
                width: 300px;
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            label{
                display: inline-block;
                width: 100px;
                text-align: right;
            }
            .span{
                display: inline-block;
                width: 155px;
                height: 40px;
                text-align: left;
                line-height: 40px;
                margin-left: 10px;
            }
        }
    }
    .treaty{
        width: 720px;
        height: 78px;
        label{
            text-align: right;
            width: 14px;
            float: left;
            margin-left: 190px;
            input{
                width: 16px;
                height: 16px;
            }
        }
        p{
            width: 274px;
            height: 53px;
            float: left;
            margin-left: 10px;
        }
    }
    .submit{
       background-image: linear-gradient(90deg,#ff4aae,#ff1268);
        border: 1px solid #ff1268;
        border-style: solid;
        background-color: #f50;
        border-radius: 3px;
        padding: 0 16px;
        height: 40px;
        line-height: 38px;
        font-size: 18px;
        cursor: pointer;
    }
    
    
}

@import "header";
@import "footer";