*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
@import "header";
@import "lunbo";
@import "kind";
@import "kindlist";
@import "footer";